@media( max-width:776px){
    .side-section{
        display: none;
    }
    .main-section{
        border: none;
    }
}

@media (max-width:768px){
    .header{
        padding: 1.5rem;
        height: 3rem;
    }
}
.header a{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main-section img{
    width: 400px;
    height: 250px;
    padding: 10px;
    margin: 2px;
}
.main-about-section{
    clear: both;
}

.top{
    border: 0.2rem solid black;
    
    width: 4rem;
    border-radius: 15%;
    margin-right: 1rem;
    float: right;
    z-index: 500;
    bottom: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}

.footer-section{
    width:100%;
}